.project-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent gray;
  flex-wrap: wrap;
}

.project-info {
  display: flex;
  flex-direction: row;
  border: 0.2rem solid gray;
  background-color: #f8f8f8;
  border-radius: 15px;
  margin: 10px;
  width: 35rem !important;
}

.column {
  flex: 1;
}

.column p {
  margin: 5px 0;
  font-size: 14px;
  color: #000000;
}
