* {
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, #693bd3, #800a76) ;
}

.container {
    display: flex;  
    justify-content: center;
}

.reg_heading {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    padding: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    margin-top:4rem;
}

.reg_plant_img {
    height: 2rem;
    width: 3rem;
}


.reg_page {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reg_form {
    color: white;
    position: relative;
    max-height: calc(100vh - 9rem);
    overflow-y:auto;
    align-items: left;
}

.reg_form::-webkit-scrollbar {
    width: 0.5em; 
    display: none;
}


.reg_form::-webkit-scrollbar-track {
    background-color: transparent; 
}


.reg_form::-webkit-scrollbar-thumb {
    background-color: #888; 
}



.reg_form_field {
    color: rgb(230, 222, 222);

    & .reg_form_input::placeholder {
        color: black;
        padding: 0.3rem;
        font-size: 1rem;
        font-weight: 500;
    }
}
.reg_form_field_label {
    width: 10rem; 
    display: inline-block; 
    text-align: left; 
    font-weight: bold;
  }
.reg_form_input {
    height: 2rem;
    border: 0.5rem;
    width: 22rem!important;
    border-radius: 0.2rem;
    background-color: rgb(224, 221, 221);
    border: solid 1px blueviolet;
    color: black;
}
.select{
    background-color: rgb(255, 254, 254);
}
.button_reg {
    display: flex;
    justify-content: right;
    gap:6rem;
}


.btn {
    height: 0.6rem; 
    width: auto;
    background-color: #1a71a3 !important;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}

.btn-text {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%; 
    font-weight: bold;
    
  }
.error-message{
    color: black;
    font-weight: 500;
    display: flex;
    flex-direction: flex-end;
}
.reg_error{
    margin-left: 10rem;
    color: rgb(71, 10, 10);

}
.reg_side_img {
    width: 28rem;
    height: 23rem;

}
@media (max-width: 1024px) {
    .reg_heading {
        font-size: 1.5rem;
        margin-top: 4rem;
    }

    .reg_form_input {
        height: 2.2rem;
    }

    .reg_side_img {
        width: 100%;
        height: auto;
    }
    .button_reg{
        margin-top: 1rem;
    }
} 


 @media (max-width: 768px) {
    .container{
        height: 100%;
    }
    .reg_form{
        overflow-y:unset;
    }
    .reg_heading {
        font-size: 1.2rem;
        margin-top: 0 !important;
    }

    .reg_form_input {
        height: 2rem;
    }

    .reg_side_img {
       display: none;
    }

    .button {
        flex-direction: column;
        gap: 0.5rem;
        
    }
    .button_reg{
        margin-top: -0.8rem;
        /* height: 5rem; */
    }
    
} 
