.project-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* background-color: blueviolet; */
  /* border: solid 2px black; */
  margin-left: 19rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.project-popup-content {
  border: solid 2px black;
  background-color: rgb(179, 179, 179);
  word-wrap: wrap !important;
  padding: 20px;
  height: 5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative; /* Add this to enable positioning inside */
}

.close-button {
  position: absolute;
  /* top: 2px; */
  bottom: 2.5rem;
  left:24rem;
  /* right: 1px;  */
  border: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  color: red;
  background-color: transparent ;
}

.popup-description {
  font-size: 18px;
}
