.multi_assign_dropdown{
  /* margin-left: 25rem;
  margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.unassigned{
  color: white;
  margin-right: 0.5rem;
}
.final{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.dropdown_managertab{
  width: 25rem !important;
}
@media screen and (max-width: 1024px){
  /* .multi_assign_dropdown{
    margin-left: 19rem !important;
  } */
}
@media screen and (max-width: 768px){
  /* .multi_assign_dropdown{
    margin-left: 13rem !important;
  }
  .dropdown-options{
    width: 18rem !important;
  } */
}