/* Remove scrollbars from the entire page */
body, html {
    overflow: hidden;
  }
  
  /* Remove vertical scrollbar from a specific container */
  .card_container {
    overflow-y: hidden;
  }
  
  /* Remove horizontal scrollbar from a specific container */
  .managerDashboard_dropdown,
  .managerDashboard_controls {
    overflow-x: hidden;
  }
  