.add_project {
  overflow-y: scroll;
  max-height: 80vh;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.add_project::-webkit-scrollbar {
  width: 0;
}

.input_form_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: black;
    padding: 0.3rem;
    width: 33.5rem;
    padding-right:0.2rem;
  }
  
  .input_form_field input[type="text"],
  .input_form_field input[type="date"],
  .input_form_field textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
  
  .startDate{
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  
  .btn_submit {
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
  
  .cancel_btn{
    width: 15rem;
    height: 2rem;
    background-color: blueviolet;
    border-radius: 1rem;
    margin-top: 0.5rem;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  .project_input_box{
    height: 2.4rem;
    border-radius: 0.2rem;
    background-color: beige;
    margin-left: 0.2rem;
  }
  .custom-placeholder::placeholder {
    color: black; 
  }
  .description_readmore{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }