.assign_btn{
    width: 9.5rem;
    height: 2rem;
    background-color: blueviolet;
    border: none;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1rem;
    /* margin-top: 1rem; */
}
.assign_save{
    margin-top: 1rem;
}
.assign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh; 
}
.assign_project{
      margin-top: 0.8rem;

  }
.employeeAdmin{
    margin-top: 6rem;
}
@media screen and (max-width: 1024px) {
    .admin_tabs{
        width: 20rem !important;
    }

    .header-container{
        height: 3rem;
    }
    .admin_tabs{
       width: 34rem !important;
       height:2.2rem !important;
       margin-top: -1.7rem !important;
       margin-left: 14rem  !important;
       padding: 0.2rem !important;
    }
    .admin_employee,.admin_manager,.admin_project{
        height: 1rem !important;
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
        width: 10rem !important;
    }
    .admin_heading{
        margin-left: 1rem;
        font-size: 1rem;
    }
    .admindashboard_header{
        width: 100vw !important;
    }
    .card_container{
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
    }
    .addEmployee_div{
        width: 10rem !important;
    }
    .logout{
        margin-top: -2.5rem !important;
    }
    .header_img{
        margin-top: -4.5rem !important;
    }
    .input_form_field{
        width: 24.5rem !important;
    }
    .dropdown{
        width:23.3rem !important;
    }
    .add_employee_btn{
        margin-left: 28rem !important;
    }
    .admin_add_project{
        margin-left: 27rem !important;
    }
    .employee_logo{
        display: none;;
    }
    .add_project{
        max-height: 80vh !important;
    }
}

@media screen and (max-width: 768px) {
    .admin_employee,.admin_project,.admin_manager{
        width: 3rem !important;
        font-size: 0.8rem;
        gap:0.2rem!important;
    }
    .admin_tabs{
        width:23rem !important;
        margin-left: 13rem !important;
    }
    .tabs{
        width:20vw !important;
    }
    .header_img{
        display: none;
    }
    .logout{
     margin-right: 4rem;
    }
    .header-container{
        width: 100vw !important;
    }
    .admindashboard_header{
        width: 20vw !important;
    }
    .back{
        width:0 !important;
    }
   
    .admin_manager_tab{
        margin-left: 4rem !important;
    }
    .add_employee_btn{
        margin-left: 20rem !important;
    }
    .admin_add_employee {
        width: 20rem !important
    }
    .admin_add_project{
        margin-left: 18rem !important;
        margin-top: -4rem !important;
    }
    .logout{
        margin-top: -2.5rem !important;
        margin-right:2rem;
    }
    .input_form_field{
        width: 18rem !important;
    }
    .dropdown{
        width:16.5rem !important;
    }
    .project-info{
        margin-left: 2rem !important;
    }
    .add_employee_form{
        margin-bottom: 5rem !important;
    }
    .employee_logo{
        display: none;;
    }
    .final{
        margin-left: 2rem;
    }
}