.custom-table {
    border-collapse: collapse;
    width: 70%;
    background-color: rgb(180, 180, 176); /* Gray background color for headers */
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
 .request_heading{
  padding: 1rem;
 }
 .admin_dashboard_button{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: blueviolet;
  text-decoration: none;
  height: 1rem;
  border: none;
  /* padding: 1rem; */
  margin-right: 48rem;
  cursor: pointer;
  color: white;
 }