.admin_tabs {
    position: fixed;
    top: 0; /* Change from 3 to 0 to align it with the top */
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 0.5rem;
    color: white;
    border: 0.15rem solid white;
    border-radius: 2rem;
    z-index: 1;
    width: 40vw; 
    /* height: 3.4rem; */
  }
  
  .header_img {
    margin-top: -2rem;
    width: 6rem;
    height: 4rem;
  }
  
  .logout {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: 0.5rem;
    /* margin-left: 13rem !important; */
  }
  
  .header-container {
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    width: 100vw;
    
  }
  
  .header-actions {
    display: flex;
    align-items: center;
  }
  