*{
    margin: 0;
    padding: 0;
}
.admin_heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.admin_tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
    color: white;
}
.admin_employee,.admin_manager,.admin_project{
    background-color: rgb(183, 0, 255);
    height: 2.5rem;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
}