* {
    margin: 0;
    padding: 0;
}

.table-container {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    padding: 2rem;
    background: linear-gradient(to right, #3b1592, #992c94);
}

.table_heading {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color:beige ;
}

.table-header,
.table-row {
    display: flex;
    padding: 1rem;
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-row:nth-child(even) {
    background-color: #f9f9f9;
}

.table-header>div:nth-child(1),
.table-row>div:nth-child(1) {
    flex: 0.5;
}

.table-header>div:nth-child(6) {
    flex: 0.9;
}

.table-header>div:nth-child(5) {
    flex: 1;
}

.table-header>div:nth-child(3) {
    flex: 1.2;
}

.table-header>div:nth-child(4) {
    flex: 1;
}

.table-header>div:nth-child(7) {
    flex: 1;
}

.table-header>div:nth-child(8) {
    flex: 1.6;
}

.table-header>div:nth-child(9) {
    flex: 1.3;
}

.table-header>div:nth-child(10) {
    flex: 1.1;
}

.table-header>div,
.table-row>div {
    flex: 1;
    padding: 0.5rem;
}

/* Add vertical lines to separate columns */

.table-row {
    border-right: 1px solid #ccc;
    font-weight: 400;
}

/* Add responsive styling */
@media (max-width: 768px) {

    .table-header,
    .table-row {
        flex-direction: column;
        border-bottom: 1px solid #ccc;
        /* Add bottom border to header */
    }

    .table-header>div,
    .table-row>div {
        padding: 5px;
        text-align: left;
    }

    .table-row {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    /* Remove vertical lines in responsive mode */
    .table-header>div:not(:last-child),
    .table-row>div:not(:last-child) {
        border-right: none;
    }
}