/* p.css */

.project-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1200px;
  overflow-x: auto;
  /* overflow-y: scroll; */
  scrollbar-width: thin;
  scrollbar-color: transparent gray;
  /* width: 28rem; */
  height: 15rem;
}

.project-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0.3rem solid gray;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 24rem;
  height: 12rem;
}

.column {
  flex: 1;
  padding: 10px; /* Add padding to each column */
}

.column p {
  margin: 5px 0;
  font-size: 14px;
  color: #000000;
}
