/* Your existing code */

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #3b1592, #992c94);
    height: 100vh;
    width: 100vw;

    .reg_heading {
        display: flex;
        justify-items: center;
        align-items: flex-start;
        padding: 1rem;
        color: white;
        font-size: 2rem;
        font-weight: bolder;

        .reg_plant_img {
            height: 2rem;
            width: 3rem;
        }
    }

    .reg_page {
        display: flex;
        flex-direction: row;
        align-items: center;

        .reg_form {
            flex: 1;
            flex-wrap: wrap;
            padding: 1rem 5rem 1rem 5rem;
            color: white;

            .reg_form_field {
                color: rgb(255, 255, 255);
                margin-bottom: 0.5rem;

                & .reg_form_input::placeholder {
                    color: rgb(255, 255, 255);
                    padding: 9px;
                    font-size: 1rem;
                }
            }

            .reg_form_input {
                height: 2rem;
                border: 0.5rem;
                width: 22rem;
                border-radius: 0.2rem;
                background-color: transparent;
                border: solid 1px black;
            }

            .btn {
                height: 2rem;
                width: 9rem;
                background-color: #992c94;
                font-size: 1rem;
                border: none;
                border-radius: 1rem;
                color: white;
                cursor: pointer;
            }
        }

        .reg_side_img {
            width: 38rem;
            height: 23rem;
           
        }
    }
}

/* Media Queries */
@media (max-width: 992px) {
    .container {
        height: 100%;
        .reg_page {
            flex-direction: column;

            .reg_form {
                padding: 1rem;

                .reg_form_input {
                    width: 100%;
                }

                .btn {
                    width: 100%;
                }
            }

            .reg_side_img {
                width: 100%;
                height: auto;
                margin-top: 1rem;
                margin-bottom: 1rem; /* Add this line to adjust margin */
            }
        }
    }
}